<div class= 'row'>
<h1>greeted names: </h1>
<ul>
{{#each names}}

<li><a href="/greeted/{{@key}}">{{@key}}</a></li>

{{/each}}

</ul>
<h3>{{name}}</h3>




    <h1> {{messages.info}}</h1>

<a href="/"><button class="btn"type = "button">back</button></a>


	</div>

