<div class= 'row'>
<h1>greeted names: </h1>
<ul>
{{#each names}}

<li><a href="/greeted/{{@key}}">{{@key}}</a> </li>

{{/each}}

</ul>
<ul>

<li> {{@key}} have been greeted{{this}} times</li>

</ul>


	</div>