<div class= 'row'>
<h1>greeted names: </h1>
<ul>
{{#each names}}

<li>{{@key}} have been greeted{{this}} times</a> </li>

{{/each}}

</ul>
<ul>

<li> {{@key}} have been greeted{{this}} times</li>

</ul>


	</div>